{% include "header.html" %}

<!-- Page Header-->
<header
  class="masthead"
  style="background-image: url('../static/assets/img/about-bg.jpg')"
>
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="page-heading">
          <h1>About Me</h1>
          <span class="subheading">This is what I do.</span>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- Main Content-->
<main class="mb-4">
  <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <p>
          Hi, I'm Lawrence, a Front-End developer. At work, I primarily use Vue.js.
          In addition to Vue, I have experience with React, Node.js, and MongoDB.
          Recently, I started learning Python, which I find to be a really fun programming
          language. I'm very interested in it! I plan to share what I learn and what I am
          confused about on my blog, which serves as my personal notes. Maybe someday
          it will help someone like me.
        </p>
        <p>
          I obtained my undergraduate degree in Communication Art and was a Graphic Designer.
          My strengths also include design, 3D modeling, and film making, which I now use for
          UI design. It helps a lot.
        </p>
        <p>
          Learning is a long and steep road, like climbing mountains. I should work hard for
          seeing the beautiful views.
        </p>
      </div>
    </div>
  </div>
</main>

{% include "footer.html" %}
